/* ----- FONTS START ----- */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* ----- FONTS END ----- */
/* ----- CSS RESET START ----- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- CSS RESET END ----- */
/* ----- COMMON STYLES START ----- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
span,
::before,
::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

input {
  font: inherit;
  border: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: white;
  color: #333333;
}

a {
  color: #333333;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.menu__link {
  font-weight: 700;
  text-decoration: underline;
  color: #705c00;
}
.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background-color: #a1d336;
  border-radius: 30px;
  font-size: 30px;
}
.btn:hover, .btn:focus-within {
  background-color: #a1d336;
  color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__item {
  position: relative;
}
.form__item::after {
  content: "";
  background-image: url(../img/dent-gray.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 26px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 18px;
  z-index: 10;
}
.form__item:nth-last-child(n+2) {
  margin-bottom: 15px;
}
.form__input {
  padding: 16px 20px 16px 55px;
  background-color: #f3efef;
  border: 0;
  border-radius: 30px;
  font-size: 14px;
  width: 100%;
}
.form ::-webkit-input-placeholder {
  color: #777777;
}
.form :-moz-placeholder {
  color: #777777;
}
.form ::-moz-placeholder {
  color: #777777;
}
.form :-ms-input-placeholder {
  color: #777777;
}
.form__btn {
  background-color: #a1d336;
  color: white;
  border: 1px solid #a1d336;
  width: 100%;
  padding: 8px 9px;
}
.form__btn:hover, .form__btn:focus-within {
  background-color: white;
  color: #a1d336;
}

/* ----- COMMON STYLES END ----- */
/* ----- HEADER START ----- */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.header__nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  background-image: url(../img/cloud1.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  padding: 14px 20px;
}
.header__menu {
  background-image: url(../img/cloud2.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  padding: 17px 30px;
}

/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-top: 223px;
  padding-bottom: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/hero-bg.webp);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -223px;
}
.hero__title {
  color: #f9e994;
  margin-bottom: 15px;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__info-img {
  margin: 0 auto;
}
.hero__offer-text {
  font-size: 18px;
  line-height: 1.89;
  color: #f6f7e4;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.hero__offer-list {
  background-color: #7fb3e1;
  color: #dfe4de;
  padding: 30px 10px 55px 23px;
  border-radius: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.hero__offer-item {
  background-image: url(../img/dent.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 28px 24px;
  padding-left: 37px;
}
.hero__offer-item:nth-last-child(n+2) {
  margin-bottom: 33px;
}
.hero__timer {
  background-color: #fdfcfc;
  padding: 23px 25px 20px 25px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  position: relative;
  overflow: hidden;
}
.hero__timer::before {
  content: "";
  background-color: #7fb3e1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 206px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
          clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
}
.hero__timer-top {
  padding-top: 23px;
  text-align: center;
  margin-bottom: 55px;
  position: relative;
  z-index: 15;
}
.hero__timer-title {
  font-size: 33px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero__timer-time {
  color: #f6e792;
  font-size: 36px;
  line-height: 1.15;
  margin-bottom: 5px;
}
.hero__timer-price {
  line-height: 1.17;
}
.hero__timer-price:nth-child(n+2) {
  margin-left: 25px;
}
.hero__timer-price.hero__timer-price--disable {
  color: #6b6b6b;
  font-size: 30px;
  position: relative;
}
.hero__timer-price.hero__timer-price--disable::after {
  content: "";
  width: 127px;
  height: 2px;
  background-color: #f6bf92;
  position: absolute;
  top: 17px;
  left: -6px;
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
}
.hero__timer-price.hero__timer-price--active {
  font-size: 36px;
}
.hero__timer .form__btn {
  margin-bottom: 30px;
}
.hero__timer-date {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}

/* ----- HERO END ----- */
/* ----- ABOUT START ----- */
.about {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../img/dents-bg.webp);
  background-repeat: no-repeat;
}
.about__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9e895), color-stop(#527c13), to(#493d08));
  background: linear-gradient(#f9e895, #527c13, #493d08);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-slider.swiper {
  padding-bottom: 45px;
}
.about-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-slider__slide {
  background-color: #f6e792;
  border-radius: 20px;
  text-align: center;
  padding: 25px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 439px;
}
.about-slider__slide:first-child {
  padding-top: 40px;
}
.about-slider__slide:nth-child(3) {
  padding-top: 14px;
}
.about-slider__slide-info {
  padding: 34px 11px 35px 18px;
  background-color: rgba(161, 211, 54, 0.4);
  border-radius: 20px;
  margin-top: auto;
  min-height: 218px;
}
.about-slider__slide-title {
  font-size: 20px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  margin-bottom: 22px;
}
.about-slider__slide-text {
  font-weight: 400;
  line-height: 1.17;
}
.about-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #f6e791;
  opacity: 1;
}
.about-slider .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(n+2) {
  margin-left: 15px;
}
.about-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #a0cf67;
}

/* ----- ABOUT END ----- */
/* ----- RESULTS START ----- */
.results {
  padding-top: 50px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2eef8), color-stop(59.37%, rgba(127, 179, 225, 0)), to(rgba(0, 0, 0, 0.25))), url(../img/grass.webp);
  background-image: linear-gradient(180deg, #e2eef8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%), url(../img/grass.webp);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.results__title {
  color: #537d13;
}
.results__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.results__content-img {
  margin-bottom: 30px;
}
.results__content-text {
  font-size: 14px;
  line-height: 1.64;
  font-weight: 400;
  text-align: center;
  border: 20px solid #d4df6d;
  border-radius: 10px;
  padding: 0 13px;
}

/* ----- RESULTS END ----- */
/* ----- ADAPTIVE START ----- */
@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }

  .header__logo {
    padding: 14px 40px;
  }
  .header__logo-img {
    width: 283px;
    height: 89px;
  }
  .header__menu {
    padding: 29px 83px;
    margin-top: 15px;
  }
  .header__menu-item:nth-child(n+2) {
    margin-left: 15px;
  }

  .hero {
    padding-top: 270px;
    margin-top: -270px;
  }
  .hero__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__info-img {
    width: 480px;
    height: 300px;
  }
  .hero__offer {
    width: 40%;
  }

  .about-slider__slide {
    min-height: 470px;
  }
  .about-slider__slide-info {
    min-height: 250px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
/* ----- ADAPTIVE END ----- */