@import "variables.scss";
/* ----- ADAPTIVE START ----- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
  .header {
    &__logo {
      padding: 14px 40px;
      &-img {
        width: 283px;
        height: 89px;
      }
    }
    &__menu {
      padding: 29px 83px;
      margin-top: 15px;
      &-item {
        &:nth-child(n + 2) {
          margin-left: 15px;
        }
      }
    }
  }
  .hero {
    padding-top: 270px;
    margin-top: -270px;
    &__info {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &-img {
        width: 480px;
        height: 300px;
      }
    }
    &__offer {
      width: 40%;
    }
  }
  .about-slider {
    &__slide {
      min-height: 470px;
      &-info {
        min-height: 250px;
        padding-bottom: 20px;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .header {
    padding-bottom: 15px;
    &__nav {
      justify-content: space-between;
    }
    &__logo {
      padding: 14px 20px;
    }
    &__menu {
      padding: 30px 40px;
    }
  }
  .hero {
    &__title {
      font-size: 52px;
    }
    &__info {
      &-img {
        width: 710px;
        height: 417px;
      }
    }
  }
  .about-slider {
    &__slide {
      min-height: 481px;
      &-info {
        min-height: 266px;
      }
    }
  }
  .results {
    &__content {
      flex-direction: row;
      justify-content: space-between;
      &-img {
        margin-bottom: 0;
        order: 1;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
/* ----- ADAPTIVE END ----- */
