@import "variables.scss";
/* ----- ADAPTIVE START ----- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
/* ----- ADAPTIVE END ----- */
