//MENU
.menu {
  display: flex;
  text-transform: uppercase;
  &__link {
    font-weight: 700;
    text-decoration: underline;
    color: hsl(49, 100%, 22%);
    &:hover,
    &:focus-within {
      color: $brand_color;
    }
  }
}
