@import "fonts.scss";
@import "reset.scss";
@import "common.scss";
@import "variables.scss";
/* ----- HEADER START ----- */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  &__nav {
    justify-content: center;
  }
  &__logo {
    background-image: url(../img/cloud1.webp);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 14px 20px;
  }
  &__menu {
    background-image: url(../img/cloud2.webp);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 17px 30px;
  }
}
/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-top: 223px;
  padding-bottom: 25px;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3)),
    url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -223px;
  position: relative;
  &__title {
    color: #f9e994;
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    &-img {
      margin: 0 auto;
    }
  }
  &__offer {
    &-text {
      font-size: 18px;
      line-height: 1.89;
      color: #f6f7e4;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
    }
    &-list {
      background-color: #7fb3e1;
      color: #dfe4de;
      padding: 30px 10px 55px 23px;
      border-radius: 20px;
      line-height: 1.2;
      margin-bottom: 30px;
    }
    &-item {
      background-image: url(../img/dent.svg);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 28px 24px;
      padding-left: 37px;
      &:nth-last-child(n + 2) {
        margin-bottom: 33px;
      }
    }
  }
  &__timer {
    background-color: hsl(0, 20%, 99%);
    padding: 23px 24px 20px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 10px 10px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      background-color: hsl(208, 62%, 69%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 190px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
    }
    &-top {
      text-align: center;
      margin-bottom: 55px;
      position: relative;
      z-index: 15;
    }
    &-title {
      font-size: 33px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &-time {
      color: hsl(51, 85%, 77%);
      font-size: 36px;
      line-height: 1.15;
      margin-bottom: 5px;
    }
    &-price {
      line-height: 1.17;
      &:nth-child(n + 2) {
        margin-left: 15px;
      }
      &.hero__timer-price--disable {
        color: hsl(0, 0%, 42%);
        font-size: 30px;
        position: relative;
        &::after {
          content: "";
          width: 120px;
          height: 2px;
          background-color: hsl(27, 85%, 77%);
          position: absolute;
          top: 17px;
          left: -6px;
          transform: rotateZ(-15deg);
        }
      }
      &.hero__timer-price--active {
        font-size: 36px;
      }
    }
    .form {
      &__btn {
        margin-bottom: 30px;
      }
    }
    &-date {
      font-weight: 400;
      text-align: center;
      font-size: 18px;
    }
  }
}
/* ----- HERO END ----- */
/* ----- ABOUT START ----- */
.about {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../img/dents-bg.webp);
  background-repeat: no-repeat;
  &__title {
    background: linear-gradient(
      hsl(50, 89%, 78%),
      hsl(84, 74%, 28%),
      hsl(49, 80%, 16%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-slider {
    &.swiper {
      padding-bottom: 45px;
    }
    &__wrap {
      display: flex;
    }
    &__slide {
      background-color: hsl(51, 85%, 77%);
      border-radius: 20px;
      text-align: center;
      padding: 25px 15px 15px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 439px;
      &:first-child {
        padding-top: 40px;
      }
      &:nth-child(3) {
        padding-top: 14px;
      }
      &-info {
        padding: 34px 11px 35px 18px;
        background-color: hsla(79, 64%, 52%, 0.4);
        border-radius: 20px;
        margin-top: auto;
        min-height: 218px;
      }
      &-title {
        font-size: 20px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        color: #fff;
        margin-bottom: 22px;
      }
      &-text {
        font-weight: 400;
        line-height: 1.17;
      }
    }
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #f6e791;
        opacity: 1;
        &:nth-child(n + 2) {
          margin-left: 15px;
        }
        &-active {
          background-color: #a0cf67;
        }
      }
    }
  }
}
/* ----- ABOUT END ----- */
/* ----- RESULTS START ----- */
.results {
  padding-top: 50px;
  padding-bottom: 160px;
  background-image: linear-gradient(
      180deg,
      hsl(209, 62%, 93%) 0%,
      hsla(208, 62%, 69%, 0) 59.37%,
      hsla(0, 0%, 0%, 0.25) 100%
    ),
    url(../img/grass.webp);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  &__title {
    color: #537d13;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      margin-bottom: 30px;
    }
    &-text {
      font-size: 14px;
      line-height: 1.64;
      font-weight: 400;
      text-align: center;
      border: 20px solid #d4df6d;
      border-radius: 10px;
      padding: 0 13px;
    }
  }
}
/* ----- RESULTS END ----- */

@import "adaptive.scss";
