//VARIABLES
$bg_color: hsl(0, 0%, 100%);
$brand_color: hsl(79, 64%, 52%);
$btn_color: hsl(79, 64%, 52%);
$btn_color_light: hsl(0, 0%, 100%);
$btn_text_color: hsl(0, 0%, 100%);
$text_color: hsl(0, 0%, 20%);
$text_color_light: hsl(0, 0%, 74%);
$tr_time: 0.3s;
